body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
  background-image: url(img/backg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.upper {
  filter: drop-shadow(0 0 10px white);
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 100%;
}
.row img {
  width: 200px;
  height: 200px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.details {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.before,
.after {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.char {
  backdrop-filter: blur(20px);
  border: 2px solid white;
  border-radius: 20px;
  margin: 10px 0px;
  height: 350px;
}

.after {
  opacity: 0;
  visibility: hidden;
}

a:hover .before {
  opacity: 0;
  visibility: hidden;
}

a:hover .after {
  opacity: 1;
  visibility: visible;
}

.after p {
  margin-top: 50px;
  font-size: 2em;
}

p {
  text-align: center;
  margin: 0;
  color: white;
}

.after img {
  transform: scale(1.5);
  z-index: 2;
}
